
h1 {
    color: #aa5a6d}
body {
     font-family:bell; background-image: url(https://image.freepik.com/free-vector/minimal-triangle-pattern-design-in-pastel-colors_1017-14885.jpg); }
.container { background-color:antiquewhite;
}
ul {
    list-style: none;
}
p {
    font-family: : "times new roman";}
img {border-radius: 20%}
h3 { color: #aa5a6d}